#titulo{
	-webkit-border-top-left-radius: 40px;
	-webkit-border-top-right-radius: 40px;
	-moz-border-radius-topleft: 40px;
	-moz-border-radius-topright: 40px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;

	font-family: "lucida console", "monospace";
	background-color:#AF7171;
	color: #F7F7F7;
	text-align: center;
}
#corpo{
	background-color: #F1F1F1;
	font-family: "courier new", "monospace";
}
nav{
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	color: black;
	background-color: #AF7171; 
	float: left;
	padding: 10px;

	font-size: 105%;
}
nav ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
nav li{
	border-bottom: 1px solid white;
}
nav li:hover{
	color:  #AF7171;
	background-color: white;
}
li a{
	text-decoration: none;
	color: white;
}
li a:hover{
	text-decoration: none;
	color: #AF7171;
	background-color: white;
}
#conteudo{
	text-align: center;
}
#conteudo p{
	text-align: left;
	padding: 5px;
	margin: 3px;
}
#calculadora{
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}
#btResult{
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	border-radius: 120px;

	background-color: #AF7171;
	color: white;
	font-size: 105%;
}
#formulario1{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#footer{
	-webkit-border-bottom-right-radius: 40px;
	-webkit-border-bottom-left-radius: 40px;
	-moz-border-radius-bottomright: 40px;
	-moz-border-radius-bottomleft: 40px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;

	background-color:#AF7171;
	color: #F7F7F7;
	text-align: center;
	clear:both;
}